:root {
  --special-color: #04a2f3;
  --main-gradient_80: linear-gradient(
    180deg,
    #041525 45%,
    var(--special-color) 80%
  );
  --main-gradient_58: linear-gradient(
    180deg,
    #041525 50%,
    var(--special-color) 58%
  );
}

.element {
  background-image: var(--main-gradient);
}

* {
  line-height: 1.5 !important;
}

a {
  text-decoration: none;
}

@media (max-width: 840px) {
  .desktop-item {
    display: none !important;
  }
  .mobile-item {
    display: block !important;
  }
}

@media (min-width: 840px) {
  .desktop-item {
    display: block !important;
  }
  .mobile-item {
    display: none !important;
  }
}

/*header*/

#Top_bar .top_bar_right {
  padding: 0 15px 0 0;
}

#Top_bar .menu > li > a span:not(.description) {
  display: block;
  line-height: 60px;
  padding: 0 4px;
  white-space: nowrap;
  border-right-width: 1px;
  border-style: solid;
}

#Top_bar .search_wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  display: none;
  z-index: 205;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.header-fixed #Top_bar .menu > li > a {
  padding: 0;
  font-size: 18px;
}

/*Активный пункт подменю*/
.current_page_item > a > span {
  font-weight: 600;
}
/**/
.tp-mask-wrap div.tp-caption {
  text-shadow:
    2px -2px 5px #000000,
    -2px 2px 10px rgba(0, 0, 0) !important;
}

#Top_bar a.responsive-menu-toggle i {
  font-size: 26px;
}

#Top_bar a.responsive-menu-toggle:hover,
#Top_bar a.responsive-menu-toggle:focus-visible {
  transform: scale(1.15);
  transition: transform 0.3s ease;
}

*/ #searchform {
  background-color: #e5e5e5;
  border-radius: 5px;
}

#Top_bar .menu > li > a {
  font-weight: 500;
  color: #ffffff;
}

#Top_bar .menu li ul {
  border-radius: 5px;
}

#Top_bar #menu .submenu .menu-item > a {
  font-weight: 500;
  color: #000000;
}

#Top_bar #menu .submenu .menu-item > a:hover,
#Top_bar #menu .submenu .menu-item > a:focus-visible {
  color: #ffffff !important;
  background-color: gray;
  text-shadow: 0 0 2px #000000;
}

.submenu .current_page_item {
  color: #ffffff !important;
  background-color: #000000;
}

.submenu .current_page_item > a {
  color: #ffffff !important;
}

.submenu .form-consultation__video-bgcurrent_page_item > a {
  color: #ffffff !important;
  text-shadow: 0 0 2px #000000;
}

#Top_bar #menu ul li.submenu .menu-toggle {
  color: #ffffff;
  font-size: 30px;
  opacity: 1;
}

#Top_bar #menu ul li.hover > .menu-toggle:after {
  font-size: 50px;
}

/*Font size h1*/
.wpb_wrapper h1 {
  font-size: clamp(20px, 5vw, 40px);
  line-height: normal;
  text-transform: uppercase;
}

/*Search bar*/
.search_wrapper {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Top_bar .search_wrapper input[type="text"] {
  border-radius: 10px;
  font-size: 18px;
  color: #000000;
}
/*search button*/
#Top_bar a#search_button,
.extras-wrapper a {
  position: static;
  padding: 5px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 50px;
  width: 50px;
  transition: all 0.15s ease-in-out;
}

#Top_bar #search_button:not(:hover) .path,
.extras-wrapper a:not(:hover) .path {
  stroke: #ffffff;
}

#Top_bar a#search_button:hover,
#Top_bar a#search_button:focus-visible,
.extras-wrapper a:hover,
.extras-wrapper a:focus-visible {
  background: aliceblue;
  color: #000000;
}

#Top_bar a#search_button:hover svg,
#Top_bar a#search_button:focus-visible svg {
  transform: scale(1.3);
  transition: transform 0.15s linear;
}

#Top_bar a#search_button:active {
  transform: scale(0.95);
}

#Top_bar a#search_button .icon-search-fine:before {
  font-weight: 800;
}

/*Текст слайдера на гланой странице*/

.main-slider__text {
  text-shadow:
    0px -4px 10px #000000,
    0px 4px 10px #000000 !important;
}

/*Форма обратной связи*/
.vc_section.section-form-consultation {
  position: relative;
  padding: 50px 0;
}

.vc_section.section-form-consultation
  > .vc_row:not(.form-consultation__video-bg) {
  padding: 50px 0;
}

.form-consultation-content > p:last-child {
  padding: 0;
  margin: 0;
}

.form-consultation__video-bg,
.form-consultation__video {
  position: absolute;
  inset: 0;
}

.form-consultation__video {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 840px) {
  .form-consultation__video {
    width: auto;
  }
}
/*Popup*/
#spu-5963.spu-box {
  min-width: 280px;
  padding: 20px;
  border-radius: 10px;
}

.spu-content form {
  display: grid;
  gap: 10px;
  font-size: 1rem;
}

.wpcf7-form input:not(:invalid):focus {
  outline: none;
}

.wpcf7-form-control.wpcf7-radio {
  display: block;
  margin-inline: auto;
  width: fit-content;
}

.captcha-image {
  border-radius: 10px;
}

.spu-content p {
  margin: 0;
}

.spu-content input,
.spu-content input[type="submit"] {
  border-radius: 10px;
}

.spu-content input[type="submit"] {
  font-size: 16px;
  margin-top: 15px;
}

/*Title bullet slider*/
.tp-bullet-title {
  display: none;
}

/**Footer text**/
.footer-text {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
}

#Footer .footer-text_link {
  text-decoration: none;
  color: #ffffff;
}

/* Гланая страница картинки категорий:hover effect*/
.elementor-element.elementor-position-top.elementor-widget.elementor-widget-image-box {
  background: #ffffff !important;
}

figure.elementor-image-box-img {
  margin-bottom: 0px !important;
  overflow: hidden;
  border-radius: 5px;
}

.elementor-element-c62c222
  .elementor-element
  .elementor-widget-container
  .elementor-image-box-img {
  display: grid;
}

.elementor-element-c62c222
  .elementor-element
  .elementor-widget-container:hover
  img {
  transform: scale(1.08);
}

/*Наши проекты*/
/* *Секция - Наши проекты*/
*/ .projects {
  padding: 0 15px !important;
  display: grid;
  gap: 5px;
}

.projects > .vc_row.wpb_row.vc_row-fluid {
  max-width: 1220px;
  margin: auto;
}

.projects-list.vc_row.vc_row-flex {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
}

.project-item {
  width: 100%;
  max-height: 420px;
  transition: transform 0.2s ease-in-out;
  background-color: #ffffff;
}

.project-item:focus-visible img {
  transform: scale(1.05);
}

.project-item .vc_column-inner {
  padding: 5px;
  outline: 2px solid lightgrey;
}

.project-item .vc_column-inner > .wpb_wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 50px;
  gap: 10px;
}

.project-item,
#Content img {
  transition: all 0.5s ease-in-out;
}

.project-item .vc_column-inner .wpb_single_image .vc_figure,
.project-item .vc_column-inner .wpb_single_image .vc_single_image-wrapper,
.project-item
  .vc_column-inner
  .wpb_single_image
  .vc_single_image-wrapper
  .vc_single_image-img {
  height: 100%;
  width: 100%;
  margin: 0;
}

.project-image {
  overflow: hidden;
}

.project-image .vc_single_image-img {
  max-height: 400px;
  border-radius: 0px;
  object-fit: cover;
  overflow: hidden;
}

.wpb_wrapper .project-image {
  margin: 0;
}

.project-title {
  margin: 0;
  display: grid;
  place-items: center;
}

.product-info .vc_tta-container {
  margin: 0 !important;
}

@media (hover: hover) {
  .project-item:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
  }
}

@media (hover: none) {
  .project-item:active img {
    transform: scale(1.1);
    filter: grayscale(0);
  }
}

@media (max-width: 960px) {
  .project-item:nth-child(3n + 3) {
    grid-column: 1/-1;
  }
}
/*Форма расчета объекта*/

form#fluentform_2,
form#fluentform_3 {
  border-radius: 10px;
  box-shadow: 0 0 11px 0 #797575;
}

.ff-t-container {
  margin: 0 !important;
}

.fluentform_wrapper_2.ffs_custom_wrap .ff-el-group input[type="radio"] {
  display: none;
}

.error.text-danger {
  font-size: 18px !important;
  padding: 10px 0;
  color: red;
  font-weight: 700;
}

form#fluentform_2 .ff-el-is-error span,
form#fluentform_3 .ff-el-is-error span {
  color: red !important;
}

.fluentform .ff-step-header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px;
  border-bottom: 2px solid lightgray;
}

.fluentform-step {
  padding: 0px 30px 20px !important;
}

.fluentform_wrapper_2.ffs_custom_wrap .ff-el-group input[type="checkbox"],
.fluentform_wrapper_2.ffs_custom_wrap .ff-el-group input[type="radio"],
.fluentform_wrapper_3.ffs_custom_wrap .ff-el-group input[type="checkbox"] {
  width: 20px !important;
  height: 20px !important;
}

ul.ff-step-titles {
  height: 30px;
  display: grid;
  grid-auto-flow: column;
}

.fluentform
  .ff-el-group.ff_list_buttons
  .ff-el-form-check.ff-el-image-holder
  span {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fluentform .ff-el-group.ff_list_buttons .ff-el-form-check.ff-el-image-holder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75% 25%;
  min-height: 260px;
}

.fluentform .ff-step-titles {
  margin: 0;
}

.fluentform .ff-el-group {
  margin-bottom: 10px;
}
.fluentform .ff-step-titles li {
  padding: 0 !important;
}

form.customize-unpreviewable,
form.customize-unpreviewable input,
form.customize-unpreviewable select,
a.customize-unpreviewable,
area.customize-unpreviewable {
  cursor: auto !important;
}

form.customize-unpreviewable button {
  cursor: pointer !important;
}

.fluentform .ff-step-titles li:before,
.fluentform .ff-step-titles li.ff_active:before,
.fluentform .ff-step-titles li.ff_completed:before {
  height: 35px !important;
  width: 35px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 16px;
  cursor: pointer;
}

.fluentform .ff-step-titles li:after {
  height: 3px;
  top: 40% !important;
}

.images-grid-radio .ff_el_checkable_photo_holders {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.fluentform .ff-el-group.ff_list_buttons .ff-el-form-check.ff-el-image-holder {
  border-radius: 10px;
}

.step-nav.ff_step_nav_last {
  padding: 10px;
}

.frm-fluent-form .ff-t-container {
  margin: 10px;
}

.frm-fluent-form .ff-t-container {
  align-items: center;
}

.ff-el-input--content input[type="number"] {
  max-width: 246px;
}

form#fluentform_2,
form#fluentform_3 {
  background: #ffffff !important;
}

.images-grid-radio
  .fluentform
  .ff-el-group.ff_list_buttons
  .ff-el-form-check
  label {
  width: 100%;
}

.fluentform .ff-el-group.ff_list_buttons .ff-el-form-check label {
  margin: 0;
  width: 100%;
  position: relative;
}
.fluentform_wrapper_3.ffs_custom_wrap .ff-el-group input[type="radio"] {
  position: absolute !important;
}

.images-grid-radio .fluentform label.ff-el-image-input-src {
  height: 80%;
  min-height: 200px;
  width: 100% !important;
}

/*Секция - программные модули*/
.grid-image__prog-modules .wpb_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px;
}

.module-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

a.module-link:hover {
  text-decoration: none !important;
}

.grid-image__prog-modules .vc-hoverbox-wrapper {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 5px 0 #000000;
  border: 5px solid #ffffff;
  aspect-ratio: 1/1.23;
}

.grid-image__prog-modules .vc-hoverbox-wrapper.vc-hoverbox-width--100 {
  transition: all 0.3s linear;
}

.grid-image__prog-modules
  .vc-hoverbox-wrapper.vc-hoverbox-width--100
  .vc-hoverbox {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.grid-image__prog-modules .vc-hoverbox-wrapper .vc-hoverbox-inner {
  min-height: 100% !important;
}

.grid-image__prog-modules .vc-hoverbox-block.vc-hoverbox-back {
  box-shadow: 0 0 5px 0 #000000;
  background-color: #ffffff;
}

.grid-image__prog-modules .vc-hoverbox-block-inner.vc-hoverbox-back-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.grid-image__prog-modules .vc-hoverbox-block-inner.vc-hoverbox-back-inner {
  padding: 0;
}

.grid-image__prog-modules .vc-hoverbox-block.vc-hoverbox-front {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.grid-image__prog-modules .vc-hoverbox-block-inner.vc-hoverbox-back-inner > p {
  height: 100%;
  padding: 20px 10px;
}

.module-link {
  gap: 10px;
  justify-content: start;
}

.img-box {
  position: relative;
  margin: 0px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0 #000000;
  border: 5px solid #ffffff;
  aspect-ratio: 1 / 1.255;
}

.img-box .vc_column-inner {
  padding: 0;
}

.img-box__text {
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
  bottom: 0;
  left: 0px;
  font-size: 16px;
  display: grid;
  place-items: center;
  text-align: center;
  right: 0px;
  background: #000000;
  color: #ffffff;
  top: 19%;
  transition: all 0.3s linear;
  border-radius: 50%;
}

.img-box__text > .wpb_wrapper,
.img-box__text > .wpb_wrapper > p {
  height: 100%;
}

.img-box__content {
  height: 100%;
}

.img-box:hover .img-box__text {
  opacity: 1;
  transform: translateY(0%);
  border-radius: 5px;
}

.img-box__link {
  display: grid;
  place-items: center;
  height: 100%;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}

.img-box__link:hover {
  color: #ffffff;
  text-decoration: none;
}

/******/
/*Преимущества - блоки*/
.flex-row-superiority .vc_column-inner_hover,
.flex-row-superiority .vc_column-inner_hover > .vc_column-inner > .wpb_wrapper {
  transition: all 0.3s ease-in-out;
}

.superiority .vc_column-inner_hover > .vc_column-inner .wpb_wrapper {
  width: 100%;
}

.superiority .vc_column-inner_hover-bg > .vc_column-inner > .wpb_wrapper {
  position: relative;
  overflow: hidden;
}

.vc_column-inner_hover.vc_column-inner_hover-bg
  .wpb_text_column.wpb_content_element
  > .wpb_wrapper {
  display: grid;
  height: 100%;
}

.superiority
  .vc_column-inner_hover-bg
  > .vc_column-inner
  > .wpb_wrapper::before {
  content: "";
  position: absolute;
  background-image: var(--main-gradient_80);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  top: -20px;
  right: -20px;
  z-index: -1;
  transition: all 0.3s linear;
}
.flex-row-superiority .vc_column-inner_hover:focus-visible {
  transform: scale(1.05);
}

@media (hover: hover) {
  .flex-row-superiority .vc_column-inner_hover:hover {
    position: relative;
    transform: scale(1.05);
  }

  .superiority
    .vc_column-inner_hover-bg:hover
    > .vc_column-inner
    > .wpb_wrapper {
    color: #ffffff;
  }

  .superiority
    .vc_column-inner_hover-bg
    > .vc_column-inner
    > .wpb_wrapper:hover::before {
    transform: scale(25);
    background-image: var(--main-gradient_58);
  }
}

@media (hover: none) {
  .flex-row-superiority .vc_column-inner_hover:active {
    position: relative;
    transform: scale(1.05);
  }

  .superiority
    .vc_column-inner_hover-bg:active
    > .vc_column-inner
    > .wpb_wrapper {
    color: #ffffff;
  }

  .superiority
    .vc_column-inner_hover-bg
    > .vc_column-inner
    > .wpb_wrapper:active::before {
    transform: scale(25);
    background-image: var(--main-gradient_58);
  }
}

.flex-row-superiority .vc_column-inner > .wpb_wrapper {
  padding: 20px;
  flex-grow: 1;
  box-shadow: 0px 0px 10px 0px #00000033;
  border-radius: 10px;
}
.flex-row-superiority .wpb_wrapper > p {
  text-align: start !important;
}

.flex-row-superiority .wpb_wrapper .wpb_text_column.wpb_content_element {
  display: grid;
  height: 100%;
  justify-items: start;
  align-items: start;
}

.flex-row-superiority .wpb_wrapper .t-name {
  margin-bottom: 5px;
}

.superiority_conture .vc_column-inner_hover > .vc_column-inner > .wpb_wrapper {
  display: flex;
  gap: 15px;
  padding: 30px;
  align-items: flex-start;
}

.superiority_conture .vc_single_image-img.attachment-thumbnail {
  max-height: 60px;
  max-width: 60px;
  aspect-ratio: 1/1;
}

/*Секции - состав системы*/

.system-composition
  .vc_column-inner_hover-bg
  > .vc_column-inner
  > .wpb_wrapper {
  position: relative;
  overflow: hidden;
}

.system-composition
  .vc_column-inner_hover-bg
  > .vc_column-inner
  > .wpb_wrapper::before {
  content: "";
  position: absolute;
  background-image: var(--main-gradient_80);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  top: -20px;
  right: -20px;
  z-index: -1;
  transition: all 0.3s linear;
}

@media (max-width: 767px) {
  .flex-row-superiority {
    gap: 35px;
  }
}

@media (hover: hover) {
  .system-composition
    .vc_column-inner_hover-bg:hover
    > .vc_column-inner
    > .wpb_wrapper {
    color: #ffffff;
  }

  .system-composition
    .vc_column-inner_hover-bg
    > .vc_column-inner
    > .wpb_wrapper:hover::before {
    transform: scale(30);
    background-image: linear-gradient(
      180deg,
      #041525 60%,
      var(--special-color) 68%
    );
  }
}

@media (hover: none) {
  .flex-row-superiority .vc_column-inner_hover:active {
    position: relative;
    transform: scale(1.05);
  }

  .superiority
    .vc_column-inner_hover-bg:active
    > .vc_column-inner
    > .wpb_wrapper {
    color: #ffffff;
  }

  .superiority
    .vc_column-inner_hover-bg
    > .vc_column-inner
    > .wpb_wrapper:active::before {
    transform: scale(25);
    background-image: var(--main-gradient_58);
  }
}

/*Секция-применение*/
.grid-image__use .wpb_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.zoom_box {
  border: 3px solid;
  border-image: linear-gradient(180deg, transparent 45%, transparent 80%) 1;
  border-image-outset: 2px;
  transition: all 0.15s ease-in-out;
}

.main-usage .zoom_box {
  border: 5px solid;
  border-image: linear-gradient(180deg, transparent 45%, transparent 80%) 1;
  border-image-outset: 2px;
  transition: all 0.15s ease-in-out;
}

.zoom_box,
.zoom_box .photo,
.zoom_box .photo > img {
  height: 100% !important;
}
.grid-image__use .photo {
  position: relative;
  background: lightgray;
}

.grid-image__use .photo:before {
  content: "";
  position: absolute;
  background: url(https://skisoft.ru/wp-content/uploads/2024/11/loading.png)
    center center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  transform: scale(0.2);
  animation: loading 2s 5 ease-in-out;
}

@keyframes loading {
  from {
    filter: opacity(0.2);
  }
  to {
    filter: opacity(1);
  }
}

.grid-image__use .photo img {
  aspect-ratio: 4/3;
}

/*Форма рассчета*/
h3.frm_form_title {
  text-align: center;
  margin: 0 0 20px 0 !important;
}

.frm_form_fields .frm_fields_container {
  box-shadow: 0 0 11px 0 #797575;
  padding-bottom: 20px;
}
.frm_text_label_for_image {
  padding: 5px;
  font-size: 18px;
  color: #000000;
}

.frm_image_options .frm_radio input[type="radio"],
.with_frm_style .frm_checkbox input[type="checkbox"] {
  top: -10px;
  right: -10px;
  width: 24px !important;
  height: 24px !important;
}

.with_frm_style .frm_radio input[type="radio"]:before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--special-color);
  margin: 0px;
}

.with_frm_style .frm_radio input[type="radio"]:checked:before {
  content: "✓";
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frm_forms.with_frm_style .frm_checkbox input[type="checkbox"]:before {
  background-size: 16px !important;
}

.fluentform .ff-el-image-holder .ff-el-form-check-label {
  padding-left: 0;
}

.frm_style_formidable-stil.with_frm_style .frm_section_heading {
  margin-top: 0px !important;
}

.frm_rootline_group {
  margin-bottom: 0px !important;
}

.frm_image_options .frm_opt_container {
  display: grid !important;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  padding: 0 20px 0 0;
}

.frm_radio.frm_image_option.frm_image_small {
  width: 100% !important;
}

.frm_fields_container {
  background: #ffffff;
  padding: 0px;
  border-radius: 10px;
}

div#frm_field_343_container,
div#frm_field_361_container,
.frm_submit,
.frm_style_formidable-stil.with_frm_style .form-field {
  padding: 0 30px;
}

.with_frm_style.frm_center_submit .frm_submit {
  text-align: left;
}

.frm_forms .frm_rootline input.frm_page_back {
  background-color: var(--special-color);
  color: #ffffff;
}

.frm_image_options
  input[type="radio"]:not([disabled])
  + .frm_image_option_container,
.frm_image_options
  input[type="checkbox"]:not([disabled])
  + .frm_image_option_container,
input[type="radio"]:checked + .frm_image_option_container,
input[type="checkbox"]:checked + .frm_image_option_container {
  transition: all 0.3s linear;
}

.frm_image_options
  input[type="radio"]:not([disabled])
  + .frm_image_option_container:hover,
.frm_image_options
  input[type="checkbox"]:not([disabled])
  + .frm_image_option_container:hover,
input[type="radio"]:checked + .frm_image_option_container,
input[type="checkbox"]:checked + .frm_image_option_container {
  outline-width: 4px;
  border-color: #3e9afe;
}

.frm_opt_container {
  padding-left: 5px;
}

.with_frm_style.frm_center_submit .frm_submit {
  display: flex;
  justify-content: space-between;
}

.with_frm_style.frm_center_submit .frm_submit .frm_ajax_loading {
  width: 50px;
  height: 50px;
}

/*Футор виджеты*/

.widget {
  margin: 10px 0;
  position: relative;
}
#Footer .widgets_wrapper {
  padding: 15px 0;
}

@media only screen and (max-width: 767px) {
  .content_wrapper .section_wrapper,
  .container,
  .four.columns .widget-area {
    max-width: 100% !important;
    padding-inline: 10px;
  }

  .footer__left-block,
  .footer__right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Наши сайты*/
#Footer .footer_action {
  background: #111015;
}

#Footer .footer_action .mcb-column-inner {
  margin-bottom: 0;
}

.sites__title {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin: 10px 0;
}
.sites__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  list-style: none;
  gap: 10px;
}

.sites__item {
  display: grid;
  place-items: center;
  grid-template-rows: 40px 1fr;
  padding: 10px;
  gap: 10px;
}

@media (max-width: 600px) {
  .sites__list {
    grid-template-columns: 1fr;
  }
  .sites__item-link {
    width: 140px;
  }
}

.sites__item-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 160px;
  background: #ffffff;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
  transition: all 0.2s linear;
}

.sites__item-link:focus-visible {
  outline: 1px solid #ffffff;
  border-radius: 30px;
}

.sites__item-img {
  height: 25px;
}

.sites__item-title {
  text-transform: uppercase;
  margin-bottom: 0;
}

.sites__item p {
  text-align: center;
  color: #ffffff;
}

/*Секция форма обратной связи*/
.section-form-consultation {
  position: relative;
}

.section-form-consultation:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/*****/

/*Серая линия*/

.section-line {
  min-height: 100px;
  padding: 50px !important;
}

/*Media Hover*/

@media (hover: hover) {
  .main-usage .zoom_box:hover {
    /* 		border: 5px solid; */
    border-image: var(--main-gradient_80) 1;
    border-image-outset: 2px;
  }

  .section-usage .zoom_box:hover {
    /* 		border: 3px solid; */
    border-image: var(--main-gradient_80) 1;
    border-image-outset: 2px;
  }

  .sites__item-link:hover {
    outline: 1px solid #ffffff;
    border-radius: 30px;
  }
}

@media (hover: none) {
  .main-usage .zoom_box:active {
    /* 		border: 5px solid; */
    border-image: var(--main-gradient_80) 1;
    border-image-outset: 2px;
  }
  .section-usage .zoom_box:active {
    /* 		border: 3px solid; */
    border-image: var(--main-gradient_80) 1;
    border-image-outset: 3px;
  }

  .sites__item-link:active {
    outline: 1px solid #ffffff;
    border-radius: 30px;
  }
}
/******/
/*Единая кнопка btn-custom*/

.wrapper-btn > .wpb_wrapper {
  display: flex;
  justify-content: end;
}

.wpb_wrapper > .btn-custom {
  padding: 14px 20px;
  border-radius: 5px;
}

.btn-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: var(--special-color);
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  line-height: 24px;
  transition:
    transform 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

/* Общие стили для всех интерактивных состояний */
.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus-visible {
  transform: scale(1.05);
  background-color: #0090f7;
  color: #ffffff;
  text-decoration: none;
}

/* Убираем тач-эффекты для устройств с hover */
@media (hover: hover) {
  .btn-custom:active {
    transform: scale(1); /* Отключаем scale при клике на ПК */
  }
}
