@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;

    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 95%;

    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;

    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;

    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;

    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;

    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;

    --input: 20 5.9% 90%;

    --ring: 20 14.3% 4.1%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 90%;

    --sidebar-accent: 240 4.8% 80%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;

    --thumb-color: 240 5.9% 30%;

    --track-color: 240 4.8% 60%;

    --thumb-color-hover: 0 0% 10%;

    --table-even-row: 240 5% 80%;

  }
  .dark {
    --background: 20 14.3% 4.1%;

    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;

    --card-foreground: 60 9.1% 97.8%;

    --popover: 240 0% 15%;

    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;

    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;

    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;

    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;

    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;

    --input: 12 6.5% 15.1%;

    --ring: 24 5.7% 82.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 30%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 25.9%;

    --sidebar-accent-foreground: 240 4.8% 80.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;

    --thumb-color: 240 4.8% 60%;

    --track-color: 240 3.7% 30%;

    --thumb-color-hover: 240 0% 0%;

    --table-even-row: 240 5% 10%;
  }
}

body {
  background-color: var(--background) !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  scrollbar-width: thin;
  height: 8px;
  background-color: hsl(var(--track-color));
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--thumb-color));
  border-radius: 9em;
  box-shadow: inset 0px 0px 2px #f3faf7;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--thumb-color-hover));
  filter: brightness(0.2);
}

.btn_hover {
  @apply flex gap-2 items-center p-2 bg-background border border-solid py-2 hover:border-muted-foreground focus-visible:border-muted-foreground text-sidebar-accent-foreground hover:bg-sidebar-accent rounded-md focus-visible:outline focus-visible:outline-1 focus-visible:outline-blue-500 focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 focus-visible:ring-offset-white;
}

.tr{
  @apply w-max;
}

.tr:nth-child(even) {
  @apply bg-[hsl(var(--table-even-row))];
}

.td {
  @apply p-2 text-center;
}

.td:not(:first-child) {
  @apply min-w-[120px] w-full;
}

.loader {
  width: min(150px, 20%);
  height: min(150px, 20%);
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
