@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xs: 20rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --thumb-color: oklch(39.5% 0.028 268);
  --track-color: oklch(84.8% 0.018 269);
  --thumb-color-hover: oklch(25.1% 0 0);
  --table-even-row: oklch(84.5% 0.02 268);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --appear: appear 5s ease-in-out;
  --slide: slide 5s ease-in-out;
  --thumb-color: hsl(240, 4.8%, 60%);
  --track-color: hsl(240, 3.7%, 30%);
  --thumb-color-hover: hsl(240, 0%, 0%);
  --table-even-row: hsl(240, 5%, 10%);
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.animate-fadeInScale {
  animation: fadeInScale 0.3s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  button,
  a {
    cursor: pointer;
  }
}
.animate-appear {
  animation: appear 0.3s ease-in-out;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 0.3s ease-in-out;
}

@keyframes slideAppear {
  0% {
    transform: translateY(2%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

textarea {
  field-sizing: content;
}

.animate-slide-appear {
  animation: slideAppear 0.5s ease-in-out;
}

*::-webkit-scrollbar {
  height: 8px;
  scrollbar-width: thin;
  background-color: var(--track-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumb-color);
  border-radius: 9em;
  box-shadow: inset 0px 0px 2px #f3faf7;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-color-hover);
  filter: brightness(0.2);
}

.dark .modal-content-route {
  background: -webkit-linear-gradient(0deg, #000000, #1a1919, #4c484a, #272626, #000000);
  /* biome-ignore lint/suspicious/noDuplicateProperties: second  background for Cross-browser compatibility*/
  background: linear-gradient(0deg, #000000, #1a1919, #4c484a, #272626, #000000);
  box-shadow: none;
}
/* biome-ignore lint/style/noDescendingSpecificity: ignore */
.modal-content-route {
  background: -webkit-linear-gradient(90deg, #d1d1cc, #dcdddb, #d1d1cc);
  /* biome-ignore lint/suspicious/noDuplicateProperties: second  background for Cross-browser compatibility*/
  background: linear-gradient(90deg, #d1d1cc, #dcdddb, #d1d1cc);
  box-shadow: inset 0 0 1000px 5px rgba(0, 47, 255, 0.267);
}
.not-found-page {
  background: url("../../public/404-light.jpg") no-repeat center center fixed;
}

.dark .not-found-page {
  background: url("../../public/404-dark.jpg") no-repeat center center fixed;
}
.btn_flex {
  display: flex;
  color: var(--sidebar-accent-foreground);
  background-color: var(--background);
  border: 1px solid;
  border-color: var(--border);
  border-radius: 0.375rem;
}

.btn_flex:hover {
  background-color: var(--sidebar-accent);
  border-color: var(--muted-foreground);
}

.btn_flex:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: var(--muted-foreground);
  box-shadow:
    0 0 0 2px var(--ring-offset-background),
    0 0 0 4px var(--ring);
}

.btn_hover,
a.fc-event.fc-event-start.fc-event-end.fc-event-today.fc-daygrid-event.fc-daygrid-dot-event,
.fc-event,
.fc-timegrid-event-harness-inset .fc-timegrid-event {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  color: var(--sidebar-accent-foreground);
  background-color: var(--background);
  border: 1px solid;
  border-color: var(--border);
  border-radius: 0.375rem;
}

.btn_hover:hover,
a.fc-event.fc-event-start.fc-event-end.fc-event-today.fc-daygrid-event.fc-daygrid-dot-event:hover,
.fc-event:hover,
.fc-timegrid-event-harness-inset .fc-timegrid-event:hover {
  background-color: var(--sidebar-accent);
  border-color: var(--muted-foreground);
}

.btn_hover:focus-visible,
a.fc-event.fc-event-start.fc-event-end.fc-event-today.fc-daygrid-event.fc-daygrid-dot-event:focus-visible,
.fc-event:focus-visible,
.fc-timegrid-event-harness-inset .fc-timegrid-event:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: var(--muted-foreground);
  box-shadow:
    0 0 0 2px var(--ring-offset-background),
    0 0 0 4px var(--ring);
}

.btn_blue {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  color: var(--background);
  background-color: rgb(30 64 175);
  border: 1px solid;
  border-color: var(--primary);
  border-radius: 0.375rem;
}

.dark .btn_blue {
  color: var(--sidebar-accent-foreground);
}

.btn_blue:hover {
  background-color: rgb(5, 27, 97);
  border-color: var(--muted-foreground);
}

.btn_blue:focus-visible {
  outline: 1px solid transparent;
  outline-offset: 2px;
  border-color: var(--muted-foreground);
  box-shadow:
    0 0 0 2px var(--ring-offset-background),
    0 0 0 4px var(--ring);
}

.tr:nth-child(even):not([data-reject="true"]):not([data-success="true"]):not([data-closed="true"]) {
  @apply bg-[hsl(var(--table-even-row))] hover:bg-zinc-600 hover:text-white;
}

.td {
  @apply items-center p-2 text-center;
}

.td.td_inline-grid {
  @apply inline-grid;
}

td:has(.abs-element) {
  @apply relative;
}

.loader {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 150px;
  max-width: 150px;
  height: 150px;
  max-height: 150px;
}

.loader::after,
.loader::before {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  content: "";
  border: 2px solid var(--primary);
  border-radius: 50%;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}
@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.flex-item-contact {
  flex: 1;
  min-width: 240px;
}

.loader-table-content {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 12px;
  height: 12px;
  margin: 15px auto;
  color: var(var(--primary));
  border-radius: 50%;
  animation: animloader_2 1s linear infinite alternate;
}

@keyframes animloader_2 {
  0% {
    box-shadow:
      -38px -6px,
      -14px 6px,
      14px -6px;
  }
  33% {
    box-shadow:
      -38px 6px,
      -14px -6px,
      14px 6px;
  }
  66% {
    box-shadow:
      -38px -6px,
      -14px 6px,
      14px -6px;
  }
  100% {
    box-shadow:
      -38px 6px,
      -14px -6px,
      14px 6px;
  }
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  touch-action: none;
  cursor: col-resize;
  user-select: none;
  background: rgba(0, 0, 0, 0.5);
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

.btn-active {
  @apply transition-transform duration-150 active:scale-95;
}

.Toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 15px;
  line-height: 1;
  color: var(--mauve-11);
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px var(--black-a7);
}
.Toggle:hover {
  background-color: var(--violet-3);
}
.Toggle[data-state="on"] {
  color: var(--violet-12);
  background-color: var(--violet-6);
}
.Toggle:focus {
  box-shadow: 0 0 0 2px black;
}

.border-stone-solid-600 {
  @apply border border-solid border-stone-600;
}

.border-solid_muted {
  border: 1px solid;
  border-color: var(--foreground);
  border-radius: 0.375rem;
}

.dark .border-solid_muted {
  border-color: var(--muted);
}

.icon-deal_info {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  background: rgba(128, 128, 128, 0.26);
  border-radius: 0.375rem;
}

.dark .icon-deal_info {
  border-color: var(--muted);
}

.prop-deal-value {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.479);
  border-radius: 0.375rem;
}

.zinc-400 {
  @apply bg-zinc-400 text-black;
}
.text-color-b {
  @apply text-black;
}

.grid-charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 20px;
}

.grid-charts_md {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.fc .fc-toolbar-title {
  @apply text-lg whitespace-nowrap;
}

.fc .fc-toolbar.fc-header-toolbar {
  @apply flex flex-wrap justify-center gap-2;
}

.title-calendar::first-letter {
  text-transform: capitalize;
}

.dark .fc .fc-col-header-cell {
  color: #ccc;
  background-color: #1e1e1e;
}

.dark .fc-timegrid-axis {
  background-color: #1e1e1e;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-black/70 font-bold dark:bg-white/70;
}

.fc-day-today .fc-daygrid-day-number {
  @apply text-white dark:text-black;
}

.fc .fc-cell-shaded {
  background: var(--muted);
}

.fc-button.fc-button-primary,
.fc-today-button.fc-button-primary:disabled {
  @apply bg-black/50;
}

.fc-today-button.fc-button-primary:disabled {
  @apply bg-stone-700;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  @apply border border-solid border-blue-500;
}

.fc .fc-button-primary:focus,
.fc .fc-button:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  @apply shadow-[0_0_0_2px_#3b82f6];
}

.fc .fc-daygrid-day-frame {
  @apply p-1;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  padding: 2px;
  border: 1px solid var(--muted);
}

.fc .fc-day-disabled {
  pointer-events: none;
  background-color: #959393;
  opacity: 0.8;
}

.fc-theme-standard .fc-popover {
  @apply bg-zinc-900;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  @apply flex flex-wrap justify-start;
}

.fc-event-title {
  @apply text-center text-ellipsis;
}

.fc-toolbar-chunk {
  @apply flex gap-2;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  @apply ml-0;
}

.fc-view-harness.fc-view-harness-passive {
  max-width: calc(100vw - 40px);
  overflow: auto;
}

.fc-daygrid-dot-event .fc-event-title {
  @apply text-start;
}

.fc-dayGridMonth-view.fc-view.fc-daygrid {
  @apply m-auto;
}

a.fc-event.fc-event-start.fc-event-end.fc-event-today.fc-daygrid-event.fc-daygrid-dot-event {
  @apply cursor-pointer !justify-start !rounded !px-1 !py-0;
}

.fc .fc-button-primary:focus,
.fc .fc-button:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  --tw-shadow: 0 0 0 0px #3b82f6;
}

.fc-daygrid-day {
  min-width: 100px;
  padding: 5px;
}

.fc-scrollgrid-sync-table,
.fc-col-header,
.fc .fc-daygrid-body,
.full-calendar table[role="presentation"],
.full-calendar table .fc-timegrid-body,
.full-calendar table .fc-timegrid-body table {
  /* biome-ignore lint/complexity/noImportantStyles::needed for layout*/
  width: 100% !important;
}

.fc-event,
.fc-timegrid-event-harness-inset .fc-timegrid-event {
  @apply h-auto min-h-5 overflow-hidden !rounded !px-1 !py-0 text-ellipsis whitespace-nowrap;
}

.fc-event-main {
  @apply w-full;
}
.fc-v-event .fc-event-main-frame {
  @apply text-primary h-auto;
}
.fc-event-title.fc-sticky {
  @apply max-w-full truncate overflow-hidden text-ellipsis whitespace-nowrap;
}

.fc-sticky {
  @apply !w-fit;
}

.fc-scrollgrid-sync-inner {
  padding: 5px;
}

.fc-daygrid-more-link.fc-more-link {
  @apply text-secondary;
}

@media (max-width: 768px) {
  .fc .fc-daygrid-event {
    padding: 2px;
    font-size: 12px;
  }

  .fc .fc-toolbar-title {
    font-size: 16px;
  }

  .fc .fc-button {
    padding: 4px 6px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .fc-dayGridMonth-view.fc-view.fc-daygrid {
    width: 768px;
  }

  .fc-daygrid-day {
    min-width: 70px;
    padding: 5px;
  }
}

/*Мобильный календарь*/

.calendar-mobile .rdp-caption_start.rdp-caption_end {
  width: 100%;
  max-width: 1020px;
  margin: auto;
}

.calendar-mobile .calendar-day-highlighted {
  font-weight: bold;
  border: 1px solid white;
  border-radius: 8px;
}

.calendar-mobile tr {
  @apply gap-1.5;
}
.calendar-mobile :is(td, th) {
  @apply flex aspect-square flex-1 items-center justify-center rounded-md;
}

.calendar-mobile .rdp-head {
  @apply border;
}

.calendar-mobile .rdp-head th {
  @apply text-lg uppercase;
}

#react-day-picker-2 {
  width: 100%;
  padding: 0.75rem;
  text-align: center;
  background-color: var(--muted);
  border-radius: 0.375rem;
}

.calendar-mobile :is(td) > button {
  @apply h-full w-full;
}

.calendar-mobile :is(td) > button:disabled {
  @apply bg-stone-800;
}

.calendar-day-today {
  @apply border border-blue-700;
}

@media (max-width: 479px) {
  #react-day-picker-2 {
    @apply text-base;
  }

  .calendar-mobile .rdp-head th {
    @apply text-base uppercase;
  }

  .calendar-mobile :is(td) > button {
    @apply text-xs;
  }
}

@media (min-width: 480px) {
  #react-day-picker-2 {
    @apply text-2xl;
  }

  .calendar-mobile .rdp-head th {
    @apply text-lg uppercase;
  }

  .calendar-mobile :is(td) > button {
    @apply text-xl;
  }
}

.fc-daygrid-event-harness {
  @apply cursor-pointer;
}

/* Tasks */

@container (min-width: 1024px) {
  .custom-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Sonner */

[data-sonner-toast][data-x-position="right"][data-y-position="bottom"] {
  display: grid;
  gap: 10px;
}

[data-sonner-toast][data-styled="true"] [data-button] {
  /* biome-ignore lint/complexity/noImportantStyles:needed for layout*/
  height: auto !important;
  /* biome-ignore lint/complexity/noImportantStyles:needed for layout*/
  padding: 5px 10px !important;
  /* biome-ignore lint/complexity/noImportantStyles:needed for layout*/
  color: var(--background) !important;
  /* biome-ignore lint/complexity/noImportantStyles:needed for layout*/
  background: var(--foreground) !important;
}

/*DatePicker*/
@media (max-width: 640px) {
  .rdp-root > div {
    display: grid;
    grid-template-areas:
      "n n"
      "p ."
      "f .";
    gap: 0rem;
  }
}

@media (min-width: 641px) {
  .rdp-root > div {
    display: grid;
    grid-template-areas:
      "n n"
      "p f";
    gap: 0.5rem;
  }
}

.rdp-root > div nav {
  grid-area: n;
  justify-content: space-around;
  width: 100%;
  border-radius: var(--radius-sm);
}

.rdp-root > div nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 100%;
  fill: var(--primary);
}
.rdp-root > div nav button:hover,
.rdp-root > div nav button:focus-visible {
  background-color: var(--primary);
  fill: var(--secondary);
}

.rdp-root > div > div:first-child {
  grid-area: p;
}

.rdp-root > div > div:last-child {
  grid-area: f;
}

.rdp-weeks {
  display: grid;
  gap: 2px;
}

.rdp-week {
  display: flex;
  gap: 2px;
  justify-content: space-around;
}

.rdp-weekdays {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--muted-foreground);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.rdp-weekdays div {
  width: 100%;
}

.rdp-month_caption {
  text-align: center;
  text-transform: capitalize;
}

.rdp-week td {
  cursor: pointer;
  border: 1px solid var(--border);
}

.rdp-week td {
  & > .rdp-day_button {
    width: 100%;
    height: 100%;
  }
}

.rdp-week td[data-selected="true"] {
  background-color: var(--primary);
  & > .rdp-day_button {
    color: var(--secondary);
  }
}
